.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
