.place__image {
  max-width: 460px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
  }
}
@media screen and (max-width: 635px) {
  .place__image {
    max-width: 100%;
  }
}
