.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
}
@media (max-width: 540px) {
  .footer__links {
    flex-direction: column;
    align-content: flex-start;
  }
}
