.cover__title {
  margin: 0;
  margin-bottom: 32px;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .cover__title {
    max-width: 65%;
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    max-width: 70%;
    font-size: 42px;
  }
}

@media screen and (max-width: 460px) {
  .cover__title {
    max-width: 67%;
    font-size: 38px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    min-width: 95%;
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
  }
}
