.place {
  display: grid;
  margin: 0;
  margin-bottom: 80px;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-gap: 40px 40px;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px 28px;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 425px) {
  .place {
    grid-gap: 32px 0;
    margin-bottom: 50px;
  }
}
