.footer {
  margin: 92px auto 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  width: 100%;

}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    max-width: calc(100% - 32px);
    margin-top: 64px;
    flex-direction: column;
  }
}

